/* calendar.css */

/* Container */
.calendar-container {
  @apply popcard-basics p-md relative;
 }
 
 /* Months */
 .calendar-months {
  @apply flex flex-col sm:flex-row space-y-md sm:space-x-md sm:space-y-0;
 }
 
 .calendar-month {
  @apply space-y-md;
 }
 
 /* Caption */
 .calendar-caption {
  @apply flex justify-center pt-xxs relative items-center;
 }
 
 .calendar-caption-label {
  @apply text-sm font-medium;
 }
 
 /* Navigation */
 .calendar-nav {
  @apply space-x-xs flex items-center;
 }
 
 .calendar-nav-button {
  @apply size-7 bg-transparent p-0 
         opacity-50 hover:opacity-100;
 }
 
 .calendar-nav-button-prev {
  @apply absolute left-xs;
 }
 
 .calendar-nav-button-next {
  @apply absolute right-xs;
 }
 
 /* Table */
 .calendar-table {
  @apply w-full border-collapse space-y-xs;
 }
 
 .calendar-head-row {
  @apply flex;
 }
 
 .calendar-head-cell {
  @apply text-weakest rounded-md w-9 font-normal text-xxs;
 }
 
 .calendar-row {
  @apply flex w-full mt-sm;
 }
 
 /* Cell */
 .calendar-cell {
  @apply relative p-0 text-center text-sm 
         focus-within:relative focus-within:z-20;
 
  &[data-has-selected=true] {
    @apply bg-accent;
  }
 }
 
 /* Range Mode Cells */
 .calendar-cell-range {
  &[data-has-range-end=true] {
    @apply rounded-r-md;
  }
  
  &[data-has-range-start=true] {
    @apply rounded-l-md;
  }
  
  &:first-child[data-has-selected=true] {
    @apply rounded-l-md;
  }
  
  &:last-child[data-has-selected=true] {
    @apply rounded-r-md;
  }
 }
 
 /* Day */
 .calendar-day {
  @apply size-9 p-0 font-normal
         aria-selected:opacity-100;
 }
 
 .calendar-day-selected {
  @apply bg-primary text-inverse 
         hover:bg-primary hover:text-inverse
         focus:bg-primary focus:text-inverse;
 }
 
 .calendar-day-today {
  @apply bg-accent text-strong;
 }
 
 .calendar-day-outside {
  @apply text-weakest opacity-disabled;
 }
 
 .calendar-day-disabled {
  @apply text-weakest opacity-disabled;
 }
 
 .calendar-day-range-middle {
  @apply aria-selected:bg-accent aria-selected:text-strong;
 }
 
 .calendar-day-hidden {
  @apply invisible;
 }
 
 /* Icons */
 .calendar-icon {
  @apply size-4;
 }