/* radio-group.css */

.radio-group-base {
  @apply w-full;
}

.radio-group-vertical {
  @apply grid gap-sm;
}

.radio-group-horizontal {
  @apply flex gap-xl;
}

.radio-group-blocks-vertical {
  @apply grid gap-sm;
}

.radio-group-blocks-horizontal {
  @apply flex items-stretch gap-sm;
}

.radio-group-compact {
  @apply flex overflow-hidden rounded-lg border border-neutral-base;
}

.radio-group-compact-vertical {
  @apply flex-col [&>*+*]:border-t [&>*+*]:border-neutral-base;
}

.radio-group-compact-horizontal {
  @apply h-full [&>*+*]:border-l [&>*+*]:border-neutral-base;
}

.radio-group-error {
  @apply border-danger;
}

.radio-base {
  @apply size-4 rounded-full form-basics transition-colors;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--ease-out);
}

.radio-default {
  /* &:hover {
    @apply  ;
  } */

  &[data-state="checked"] {
    @apply bg-input border-primary;
  }
}

.radio-error {
  @apply border-danger;
  
  &:hover {
    @apply border-danger;
  }
  
  &[data-state="checked"] {
    @apply bg-input border-danger;
  }
}

.radio-focus {
  @apply ring-offset-surface;

  &:focus-visible {
    @apply focus-ring;
  }
}

.radio-focus-error {
  &:focus-visible {
    @apply focus-ring-danger;
  }
}

.radio-disabled {
  @apply cursor-not-allowed opacity-disabled bg-disabled;
}

.radio-container {
  @apply relative flex size-4 items-center justify-center;
}

.radio-indicator {
  @apply flex h-full w-full items-center justify-center text-primary animate-in zoom-in-50;
  animation-duration: var(--duration-normal);
}

.radio-error .radio-indicator {
  @apply text-danger;
}

.radio-label-wrapper {
  @apply relative flex cursor-pointer h-full p-md transition-colors;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--ease-out);

  &:hover {
    @apply bg-surface-sunken;
  }

  &[data-state="checked"] {
    @apply bg-primary-weak;
  }
}

.radio-label-wrapper-blocks {
  @apply rounded-lg border border-neutral-base;

  &[data-state="checked"] {
    @apply border-primary;
  }
}

.radio-label-wrapper-compact-vertical {
  @apply first:rounded-t-lg last:rounded-b-lg;
  
  &[data-state="checked"] {
    @apply border-primary;
  }
}

.radio-label-wrapper-compact-horizontal {
  @apply first:rounded-l-lg last:rounded-r-lg h-full;
  
  &[data-state="checked"] {
    @apply border-primary;
  }
}

.radio-content-wrapper {
  @apply flex min-w-0 w-full items-start gap-md;
}

.radio-content-wrapper-horizontal {
  @apply h-full;
}

.radio-label-content {
  @apply min-w-0 flex-1 -mt-xxs space-y-xxs;
}

.radio-label-row {
  @apply flex items-center gap-sm;
}

.radio-label-text {
  @apply text-heading-4;
}

.radio-description {
  @apply text-copy-small text-weak;
}

@media print {
  .radio-base {
    @apply bg-input text-foreground border-neutral-base print:border;
  }
  
  .radio-group-compact,
  .radio-label-wrapper-blocks {
    @apply border-neutral-base print:border;
  }
}