/* textarea.css */

.form-control {
  @apply flex flex-col w-full;
}

/* .label-input-wrapper {
  @apply flex flex-col gap;
 } */

.textarea {
  @apply form-basics flex w-full resize-y
         transition-colors
         placeholder:text-text-muted;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--ease-out);
}

.textarea-sm {
  @apply text-sm px-xs py-xxs min-h-[var(--space-5xl)];
}

.textarea-base {
  @apply text-base px-sm py-xs min-h-[var(--space-6xl)];
}

.textarea-lg {
  @apply text-lg px-sm py-xs min-h-[var(--space-7xl)];
}

.textarea-error {
  @apply border-danger;

  &:hover {
    @apply border-danger;
  }

  &:focus {
    @apply focus-ring-danger border-danger;
  }
}

.textarea-footer {
  @apply flex justify-between gap-2xl;
}

.textarea-helper {
  @apply text-body-small text-text-weakest;
}

.textarea-helper-error {
  @apply text-danger-text;
}

.textarea-counter {
  @apply text-sm whitespace-nowrap text-text-weakest;
}

.textarea-counter-error {
  @apply text-danger-text;
}

.textarea-counter-solo {
  @apply ml-auto;
}

@media print {
  .textarea {
    @apply form-basics;
  }

  .textarea-error {
    @apply border-danger text-danger-text;
  }
}
