/* themes/base.css */
@layer base {
  :root {
    /* Base backgrounds & text */
    /* --background: var(--neutral-50);
    --foreground: var(--neutral-900);
    --foreground-strong: var(--neutral-900);
    --foreground-weak: var(--neutral-800);
    --foreground-muted: var(--neutral-700); */

    /* Surface colors */
    /* --card: var(--white);
    --card-foreground: var(--neutral-900);
    --popover: var(--neutral-50);
    --popover-foreground: var(--neutral-900); */

    /* Interactive elements */
    /* --primary: var(--primary-base);
    --primary-foreground: var(--neutral-50);
    --secondary: var(--neutral-100);
    --secondary-foreground: var(--neutral-900);
    --accent: var(--accent-base);
    --accent-foreground: var(--neutral-50);
    --destructive: var(--destructive-base);
    --destructive-foreground: var(--destructive-50); */

    /* UI states */
    /* --muted: var(--neutral-100);
    --muted-foreground: var(--neutral-800);
    --border: var(--neutral-200);
    --border-strong: var(--neutral-base);
    --input: var(--neutral-base);
    --ring: var(--primary-base); */

    /* Status colors */
    /* --info: var(--info-base);
    --info-foreground: var(--neutral-50);
    --success: var(--success-base);
    --success-foreground: var(--neutral-50);
    --warning: var(--warning-base);
    --warning-foreground: var(--neutral-900);
    --error: var(--destructive-base);
    --error-foreground: var(--neutral-50); */

    /* Component specific */
    /* --sidebar: var(--neutral-50);
    --sidebar-foreground: var(--neutral-900);
    --navbar: var(--neutral-50);
    --navbar-foreground: var(--neutral-900);
    --footer: var(--neutral-50);
    --footer-foreground: var(--neutral-900);

    --sidebar-background: var(--neutral-50);
    --sidebar-foreground: var(--neutral-900);
    --sidebar-primary: var(--primary-50);
    --sidebar-primary-foreground: var(--primary-900);
    --sidebar-accent: var(--accent-50);
    --sidebar-accent-foreground: var(--accent-900);
    --sidebar-border: var(--neutral-100);
    --sidebar-ring: var(--neutral-100); */

    /* Shape */
    /* --radius-sm: 0.05rem;
    --radius: 0.25rem;
    --radius-lg: 0.5rem; */
  }

  .700 {
    /* Base backgrounds & text */
    --background: var(--neutral-900);
    --foreground: var(--neutral-50);
    --foreground-strong: var(--neutral-50);
    --foreground-weak: var(--neutral-base);

    /* Surface colors */
    --card: var(--neutral-900);
    --card-foreground: var(--neutral-50);
    --popover: var(--neutral-900);
    --popover-foreground: var(--neutral-50);

    /* Interactive elements */
    --primary: var(--primary-200);
    --primary-foreground: var(--neutral-900);
    --secondary: var(--neutral-800);
    --secondary-foreground: var(--neutral-50);
    --accent: var(--accent-200);
    --accent-foreground: var(--neutral-900);
    --destructive: var(--destructive-200);
    --destructive-foreground: var(--neutral-900);

    /* UI states */
    --muted: var(--neutral-800);
    --muted-foreground: var(--neutral-200);
    --border: var(--neutral-800);
    --input: var(--neutral-800);
    --ring: var(--primary-200);

    /* Status colors */
    --info: var(--info-200);
    --info-foreground: var(--neutral-900);
    --success: var(--success-200);
    --success-foreground: var(--neutral-900);
    --warning: var(--warning-200);
    --warning-foreground: var(--neutral-900);
    --error: var(--destructive-200);
    --error-foreground: var(--neutral-900);

    /* Component specific */
    --sidebar: var(--neutral-900);
    --sidebar-foreground: var(--neutral-50);
    --navbar: var(--neutral-900);
    --navbar-foreground: var(--neutral-50);
    --footer: var(--neutral-900);
    --footer-foreground: var(--neutral-50);
  }
}
