/* themes/base.css */
@layer base {
  :root {
    /* Base backgrounds & text */
    /* --background: var(--neutral-lightest);
    --foreground: var(--neutral-darkest);
    --foreground-strong: var(--neutral-darkest);
    --foreground-weak: var(--neutral-darker);
    --foreground-muted: var(--neutral-dark); */

    /* Surface colors */
    /* --card: var(--white);
    --card-foreground: var(--neutral-darkest);
    --popover: var(--neutral-lightest);
    --popover-foreground: var(--neutral-darkest); */

    /* Interactive elements */
    /* --primary: var(--primary-base);
    --primary-foreground: var(--neutral-lightest);
    --secondary: var(--neutral-lighter);
    --secondary-foreground: var(--neutral-darkest);
    --accent: var(--accent-base);
    --accent-foreground: var(--neutral-lightest);
    --destructive: var(--destructive-base);
    --destructive-foreground: var(--destructive-lightest); */

    /* UI states */
    /* --muted: var(--neutral-lighter);
    --muted-foreground: var(--neutral-darker);
    --border: var(--neutral-light);
    --border-strong: var(--neutral-base);
    --input: var(--neutral-base);
    --ring: var(--primary-base); */

    /* Status colors */
    /* --info: var(--info-base);
    --info-foreground: var(--neutral-lightest);
    --success: var(--success-base);
    --success-foreground: var(--neutral-lightest);
    --warning: var(--warning-base);
    --warning-foreground: var(--neutral-darkest);
    --error: var(--destructive-base);
    --error-foreground: var(--neutral-lightest); */

    /* Component specific */
    /* --sidebar: var(--neutral-lightest);
    --sidebar-foreground: var(--neutral-darkest);
    --navbar: var(--neutral-lightest);
    --navbar-foreground: var(--neutral-darkest);
    --footer: var(--neutral-lightest);
    --footer-foreground: var(--neutral-darkest);

    --sidebar-background: var(--neutral-lightest);
    --sidebar-foreground: var(--neutral-darkest);
    --sidebar-primary: var(--primary-lightest);
    --sidebar-primary-foreground: var(--primary-darkest);
    --sidebar-accent: var(--accent-lightest);
    --sidebar-accent-foreground: var(--accent-darkest);
    --sidebar-border: var(--neutral-lighter);
    --sidebar-ring: var(--neutral-lighter); */

    /* Shape */
    /* --radius-sm: 0.05rem;
    --radius: 0.25rem;
    --radius-lg: 0.5rem; */
  }

  .dark {
    /* Base backgrounds & text */
    --background: var(--neutral-darkest);
    --foreground: var(--neutral-lightest);
    --foreground-strong: var(--neutral-lightest);
    --foreground-weak: var(--neutral-base);

    /* Surface colors */
    --card: var(--neutral-darkest);
    --card-foreground: var(--neutral-lightest);
    --popover: var(--neutral-darkest);
    --popover-foreground: var(--neutral-lightest);

    /* Interactive elements */
    --primary: var(--primary-light);
    --primary-foreground: var(--neutral-darkest);
    --secondary: var(--neutral-darker);
    --secondary-foreground: var(--neutral-lightest);
    --accent: var(--accent-light);
    --accent-foreground: var(--neutral-darkest);
    --destructive: var(--destructive-light);
    --destructive-foreground: var(--neutral-darkest);

    /* UI states */
    --muted: var(--neutral-darker);
    --muted-foreground: var(--neutral-light);
    --border: var(--neutral-darker);
    --input: var(--neutral-darker);
    --ring: var(--primary-light);

    /* Status colors */
    --info: var(--info-light);
    --info-foreground: var(--neutral-darkest);
    --success: var(--success-light);
    --success-foreground: var(--neutral-darkest);
    --warning: var(--warning-light);
    --warning-foreground: var(--neutral-darkest);
    --error: var(--destructive-light);
    --error-foreground: var(--neutral-darkest);

    /* Component specific */
    --sidebar: var(--neutral-darkest);
    --sidebar-foreground: var(--neutral-lightest);
    --navbar: var(--neutral-darkest);
    --navbar-foreground: var(--neutral-lightest);
    --footer: var(--neutral-darkest);
    --footer-foreground: var(--neutral-lightest);
  }
}
