/* themes/dark.css */
[data-theme="dark"] {
    --background: var(--neutral-darkest);
    --foreground: var(--neutral-lightest);
   
    --card: var(--neutral-darker);
    --card-foreground: var(--neutral-lightest);
   
    --popover: var(--neutral-darker);
    --popover-foreground: var(--neutral-lightest);
   
    --primary: var(--primary-light);
    --primary-foreground: var(--neutral-darkest);
   
    --secondary: var(--neutral-lightest0);
    --secondary-foreground: var(--neutral-lightest);
   
    --muted: var(--neutral-lightest0);
    --muted-foreground: var(--neutral-light);
   
    --accent: var(--accent-light);
    --accent-foreground: var(--neutral-darkest);
   
    --destructive: var(--destructive-light);
    --destructive-foreground: var(--neutral-darkest);
   
    --border: var(--neutral-lightest0);
    --input: var(--neutral-lightest0);
    --ring: var(--primary-light);
   
    --shadow-sm: none;
    --shadow-base: none;
    --shadow-md: none;
    --shadow-lg: none;
    --shadow-xl: none;
   }