/* src/styles/typography.css */

:root {
  /* ==========================================================================
     Font Families
     ========================================================================== */
  --font-family-sans: "DM Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    monospace;

  /* ==========================================================================
     Font Sizes
     ========================================================================== */
  --font-size-xxs: 11px;
  --font-size-xs: 11px;
  --font-size-sm: 12px;
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --font-size-4xl: 34px;

  /* ==========================================================================
     Font Weights
     ========================================================================== */
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;

  /* ==========================================================================
     Line Heights
     ========================================================================== */
  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;

  /* ==========================================================================
     Letter Spacing
     ========================================================================== */
  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.022em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.022em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.25em;

  /* ==========================================================================
     Max Width
     ========================================================================== */
  --max-width-copy-xxs: 30ch;
  --max-width-copy-xs: 40ch;
  --max-width-copy-sm: 50ch;
  --max-width-copy-base: 65ch;
  --max-width-copy-lg: 75ch;
  --max-width-copy-xl: 85ch;
}
