/* Define the animations */
@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

/* Base Accordion Styles */
.ui-accordion {
  @apply w-full min-w-80;
}

/* Size variants */
.ui-accordion[data-size="sm"] .ui-accordion-trigger {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

.ui-accordion[data-size="sm"] .ui-accordion-trigger .ui-text-heading {
  font-size: var(--font-size-sm);
}

.ui-accordion[data-size="base"] .ui-accordion-trigger {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

.ui-accordion[data-size="base"] .ui-accordion-trigger .ui-text-heading {
  font-size: var(--font-size-base);
}

.ui-accordion[data-size="lg"] .ui-accordion-trigger {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.ui-accordion[data-size="lg"] .ui-accordion-trigger .ui-text-heading {
  font-size: var(--font-size-lg);
}

/* Accordion item */
.ui-accordion-item {
  @apply border-b;
  border-color: var(--border-base);
}

/* Accordion header */
.ui-accordion-header {
  @apply flex;
}

/* Accordion trigger */
.ui-accordion-trigger {
  @apply flex flex-1 items-center justify-between text-left;
  transition-property: all;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--ease-out);
}

.ui-accordion-trigger[data-state="open"] > .ui-icon {
  @apply rotate-180;
}

.ui-accordion-trigger .ui-icon {
  color: var(--text-weak);
  transition-property: transform;
  transition-duration: var(--duration-fast);
  transition-timing-function: var(--ease-out);
}

/* Accordion content */
.ui-accordion-content {
  @apply overflow-hidden;
}

.ui-accordion[data-size="sm"] .ui-accordion-content .ui-text-body {
  font-size: var(--font-size-sm);
}

.ui-accordion-content[data-state="closed"] {
  animation: accordion-up var(--duration-normal) var(--ease-out);
}

.ui-accordion-content[data-state="open"] {
  animation: accordion-down var(--duration-normal) var(--ease-out);
}

/* Inner content */
.ui-accordion-content-inner {
  padding-bottom: var(--space-md);
  padding-top: 0;
}