.ui-table-container {
  @apply relative w-full overflow-auto rounded-t scrollbar-thin;
  scrollbar-color: var(--border-base) transparent;
 
  &::after {
    @apply absolute top-0 left-0 right-0 h-px opacity-0 transition-all;
    background: linear-gradient(to bottom, var(--border-weak) 50%, transparent);
    content: "";
  }
 
  &[data-scrolled="true"]::after {
    @apply opacity-100;
  }
 }
 
 .ui-table-base {
  @apply w-full caption-bottom border-collapse;
 
  &[data-size="base"] {
    .ui-table-cell {
      @apply py-sm px-base ui-text-body-base;
    }
 
    .ui-table-head {
      @apply h-2xl px-base ui-text-heading-6;
    }
  }
 
  &[data-size="sm"] {
    .ui-table-cell {
      @apply py-xs px-sm ui-text-body-small;
    }
 
    .ui-table-head {
      @apply h-xl px-sm ui-text-heading-6 ui-text-weak;
    }
  }
 
  &[data-zebra="true"] tbody tr:nth-child(even) {
    @apply ui-background-surface-sunken hover:ui-background-surface-hollowed;
  }
 }
 
 .ui-table-header {
  @apply border-b ui-border-neutral-weak ui-background-surface-sunken;
 }
 
 .ui-table-body {
  @apply divide-y ui-border-neutral-weak ui-background-surface;
  
  & tr:last-child {
    @apply border-0;
  }
 }
 
 .ui-table-footer {
  @apply ui-border-neutral ui-background-surface-sunken;
  
  & tr:last-child {
    @apply border-b-0;
  }
  
  & .ui-table-cell {
    @apply ui-text-heading-4;
  }
 }
 
 .ui-table-head {
  @apply text-left align-middle whitespace-nowrap transition-colors ui-text-heading-6 ui-text-weak;
 
  &:has([role="checkbox"]) {
    @apply w-[calc(1rem+2rem)] pr-0 pl-4;
  }
 
  &:has(button:not([role="checkbox"])) {
    @apply p-0;
 
    & > button:not([role="checkbox"]) {
      @apply w-full flex items-center justify-between px-sm py-xs gap-sm ui-text-heading-6 ui-text-weak;
 
      & > svg {
        @apply opacity-0 ui-text-weak;
      }
 
      &[data-sort-direction="asc"] > svg {
        @apply opacity-100 rotate-0;
      }
 
      &[data-sort-direction="desc"] > svg {
        @apply opacity-100 rotate-180;
      }
    }
  }
 }
 
 .ui-table-cell {
  @apply align-middle max-w-[20rem] overflow-hidden text-ellipsis transition-colors ui-text-body-base;
 
  &:has([role="checkbox"]) {
    @apply w-[calc(1rem+2rem)] pr-0 pl-sm;
  }
 
  &:has(.table-action-trigger) {
    @apply w-10 pr-xs text-right;
  }
 
  &:has([data-status]) {
    @apply relative pl-8;
    & > [data-status] {
      @apply absolute left-4 top-1/2 -translate-y-1/2 size-2 rounded-full;
    }
  }
 
  &:focus-within {
    @apply relative;
    &::after {
      @apply absolute inset-0 rounded-sm;
      content: "";
      box-shadow: 0 0 0 2px var(--ring-primary), 0 0 0 4px var(--background-surface);
    }
  }
 }
 
 .ui-table-row {
  @apply transition-colors;
 
  &:hover {
    @apply ui-background-surface-sunken;
  }
 
  &[data-state="selected"] {
    @apply ui-background-primary-weakest;
  }
 
  &:focus-within {
    @apply outline-none ui-background-surface-sunken;
  }
 
  &[data-interactive="true"] {
    @apply cursor-pointer;
  }
 
  &[data-disabled="true"] {
    @apply pointer-events-none;
    opacity: var(--disabled-opacity);
  }
 }
 
 .ui-table-caption {
  @apply mt-base mb-sm ui-text-body-small;
 }
 
 .ui-table-empty {
  @apply p-2xl text-center;
 }