/* Base Tabs */
.ui-tabs {
  @apply inline-flex items-center justify-center;
 }
 
 .ui-tabs[data-width="inline"] {
  @apply w-fit;
 }
 
 .ui-tabs[data-width="full"] {
  @apply w-full;
 }
 
 /* Lists */
 .ui-tabs-list {
  @apply flex;
 }
 
 .ui-tabs-list[data-appearance="base"] {
  border-bottom: 1px solid var(--border-base);
 }
 
 .ui-tabs-list[data-appearance="compact"] {
  background-color: var(--background-surface-sunken);
  @apply rounded-t;
 }
 
 .ui-tabs-list[data-size="base"] {
  font-size: var(--font-size-sm);
  @apply pt-sm pb-0;
 }
 
 .ui-tabs-list[data-size="lg"] {
  font-size: var(--font-size-base);
  @apply pt-md pb-0;
 }
 
 /* Trigger */
 .ui-tabs-trigger {
  @apply inline-flex items-center justify-center whitespace-nowrap;
  transition-property: all;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--ease-out);
 
  &:disabled {
    @apply pointer-events-none;
    opacity: var(--disabled-opacity);
  }
 
  &:focus-visible {
    outline: none;
    --tw-ring-width: 2px;
    --tw-ring-offset-width: 2px;
    --tw-ring-color: var(--ring-primary);
    --tw-ring-offset-color: var(--background-surface);
  }
 }
 
 .ui-tabs-trigger[data-appearance="base"] {
  border-bottom: 2px solid transparent;
  @apply -mb-px;
 
  &:hover {
    border-color: var(--border-base);
    background-color: var(--background-surface-sunken);
  }
 
  &[data-state="active"] {
    border-color: var(--border-primary);
    color: var(--text-primary);
  }
 }
 
 .ui-tabs-trigger[data-appearance="compact"] {
  @apply rounded-t;
 
  &:hover {
    background-color: var(--background-surface-hollowed);
  }
 
  &[data-state="active"] {
    background-color: var(--background-surface);
    color: var(--text-primary);
  }
 }
 
 .ui-tabs-trigger[data-size="base"] {
  @apply px-base py-xs gap-sm;
 }
 
 .ui-tabs-trigger[data-size="lg"] {
  @apply px-lg py-sm gap-md;
 }
 
 /* Content */
 .ui-tabs-content {
  @apply mt-md;
  --tw-ring-offset-color: var(--background-surface);
 
  &:focus-visible {
    outline: none;
    --tw-ring-width: 2px;
    --tw-ring-offset-width: 2px;
    --tw-ring-color: var(--ring-primary);
  }
 
  &[data-state="inactive"] {
    @apply animate-out;
  }
 
  &[data-state="active"] {
    @apply animate-in fade-in-0 zoom-in-95;
  }
 }