/* Form Layout */
.ui-textarea-wrapper {
  @apply ui-form-element-wrapper;

  /* &[data-has-label="true"] {
    @apply gap-xxs;
  } */
}

/* Textarea */
.ui-textarea {
  @apply ui-form-base ui-form-element w-full resize-y transition-colors;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--ease-out);

  &::placeholder {
    color: var(--text-muted);
  }
}

/* Sizes */
.ui-textarea[data-size="sm"] {
  @apply px-xs py-xxs ui-text-body-small min-h-20;
}

.ui-textarea[data-size="base"] {
  @apply px-sm py-xs ui-text-body-base min-h-24;
}

.ui-textarea[data-size="lg"] {
  @apply px-md py-sm ui-text-body-large min-h-32;
}

/* Error State */
.ui-textarea[data-error="true"] {
  @apply hover:ui-border-danger;

  &:focus {
    border-color: var(--border-danger);
    --tw-ring-color: var(--ring-danger);
  }
}

/* Footer */
.ui-textarea-footer {
  @apply flex justify-between items-start gap-2xl;
}

/* Counter */
.ui-textarea-counter {
  @apply ui-form-helper whitespace-nowrap;

  &[data-error="true"] {
    color: var(--text-danger);
  }

  &[data-solo="true"] {
    @apply ml-auto;
  }
}

/* Print Styles */
@media print {
  .ui-textarea {
    @apply ui-form-base;
  }
  
  .ui-textarea[data-error="true"] {
    @apply ui-border-danger ui-text-danger;
  }
}