.ui-toast-viewport {
  @apply fixed top-0 flex max-h-screen w-full flex-col-reverse p-sm 
         sm:bottom-0 sm:right-0 sm:top-auto sm:flex-col md:max-w-[420px];
  z-index: var(--z-toast);
 }
 
 .ui-toast {
  @apply pointer-events-auto relative flex w-full items-center justify-between 
         rounded-md overflow-hidden pr-md gap-sm py-md pl-md ui-border-neutral-weak shadow-lg;
  transition: all var(--duration-normal) var(--ease-out);
 }
 
 /* Variants */
 .ui-toast[data-variant="default"] {
  @apply ui-background-surface ui-text-neutral;
 }
 
 .ui-toast[data-variant="destructive"] {
  @apply ui-border-danger ui-background-danger ui-text-inverse;
 }

/* Swipe Animations */
.ui-toast[data-swipe="cancel"] {
  @apply translate-x-0;
}

.ui-toast[data-swipe="end"] {
  transform: translateX(var(--radix-toast-swipe-end-x));
}

.ui-toast[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
  @apply transition-none;
}

/* State Animations */
.ui-toast[data-state="open"] {
  @apply animate-in slide-in-from-top-full;
  @apply sm:slide-in-from-bottom-full;
}

.ui-toast[data-state="closed"],
.ui-toast[data-swipe="end"] {
  @apply animate-out fade-out-80 slide-out-to-right-full;
}

/* Action Button */
.ui-toast-action {
  @apply inline-flex shrink-0 items-center justify-center rounded-md h-8 px-sm 
         ui-text-button ui-border-neutral bg-transparent;
 
  &:hover {
    @apply ui-background-surface-sunken;
  }
 
  &:focus {
    @apply outline-none ui-ring-primary;
  }
 
  &:disabled {
    @apply pointer-events-none;
    opacity: var(--disabled-opacity);
  }
 
  .ui-toast[data-variant="destructive"] & {
    @apply ui-border-danger hover:ui-background-danger hover:ui-text-inverse focus:ui-ring-danger;
  }
 }
 
 .ui-toast-close {
  @apply absolute right-1 top-1 rounded-md p-xs ui-text-weak opacity-0;
  transition: opacity, color var(--duration-normal) var(--ease-out);
 
  &:hover {
    @apply ui-text-neutral;
  }
 
  &:focus {
    @apply opacity-100 outline-none ui-ring-primary;
  }
 
  .group-hover & {
    @apply opacity-100;
  }
 
  .ui-toast[data-variant="destructive"] & {
    @apply ui-text-danger hover:ui-text-inverse focus:ui-ring-danger;
  }
 }
 
 .ui-toast-close-icon {
  @apply size-4;
 }
 
 .ui-toast-title {
  @apply ui-text-heading-6;
 
  & + div {
    @apply ui-text-body-small;
  }
 
  .ui-toast[data-variant="destructive"] & {
    @apply ui-text-inverse;
    
    & + div {
      @apply ui-text-inverse;
    }
  }
 }
 
 .ui-toast-description {
  @apply ui-text-body-small ui-text-weak;
 }
 
 @media print {
  .ui-toast-viewport {
    @apply hidden;
  }
 }