/* Tooltip Content */
.ui-tooltip {
  @apply overflow-hidden rounded-md ui-background-surface ui-text-body-small ui-text-weak border ui-border-neutral-weak px-sm py-xs shadow;
  z-index: var(--z-tooltip);
  animation-duration: var(--duration-normal);
  animation-timing-function: var(--ease-out);

  /* Animation States */
  @apply animate-in fade-in-0 zoom-in-95;
  
  &[data-state="closed"] {
    @apply animate-out fade-out-0 zoom-out-95;
  }

  /* Position Variants */
  &[data-side="bottom"] {
    @apply slide-in-from-top-2;
  }

  &[data-side="left"] {
    @apply slide-in-from-right-2;
  }

  &[data-side="right"] {
    @apply slide-in-from-left-2;
  }

  &[data-side="top"] {
    @apply slide-in-from-bottom-2;
  }
}

/* Print */
@media print {
  .ui-tooltip {
    @apply hidden;
  }
}